.JokesDisplay {
    width: 50%;
    margin: 8% auto;
    height: 600px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: 14px 27px 31px -7px rgba(0,0,0,0.75);
}
